body {
  padding: 200px;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
#container{
  width: 350px;
  align: center;
  border: 1px solid grey;
  padding: 40px;
  margin: auto;
  border-radius: 10px;
  height: 400px;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}
.center-top{
  text-align: center;
}
.button{
  background-color: blue;
  color: white;
  padding: 14px 10px;
  margin-left: 132px;
  border: none;
  cursor: pointer;
  width: 30%;
border-radius: 10px;
}
.col-2 {
  padding-top: 25px;
  width: 75%;
  margin: auto;
  display: inline;
}